In [1]:
import pandas as pd
import numpy as np

In [3]:
lab_sofa=pd.read_csv("Labs_withSOFA.csv")
vent_sofa=pd.read_csv("drugate_norm_updated.csv",usecols=['patientunitstayid','offset','SOFA_cardio'])
gcs_sofa=pd.read_csv("gcs_withSOFA.csv",usecols=['patientunitstayid','offset','SOFA_GCS'])
t_sus=pd.read_csv("ABX_BC_pid_offset_Clean_TsuspicionMax.csv")

In [4]:
lab_sofa.head()

,patientunitstayid,offset,SOFA_Coagulation,SOFA_Liver,SOFA_Respiration,SOFA_Renal
0,141168,516.0,0.0,2.0,0.0,0.0
1,141168,1133.0,0.0,2.0,0.0,2.0
2,141168,1701.0,0.0,0.0,0.0,4.0
3,141168,1805.0,0.0,0.0,2.0,0.0
4,141168,2010.0,0.0,0.0,2.0,0.0

In [5]:
vent_sofa.head()

   patientunitstayid  SOFA_cardio  offset
0             242082          4.0     425
1             242082          3.0     125
2             242082          3.0      55
3             242082          3.0     665
4             242082          3.0     230

In [6]:
gcs_sofa.head()

   patientunitstayid  offset  SOFA_GCS
0             141924    2109       0.0
1             141924    1894       0.0
2             141924     424       0.0
3             141944     484       0.0
4             141944    2389       1.0

In [7]:
t_sus.head()

   patientunitstayid     max
0             242040   188.0
1             242154  8589.0
2             242290   165.0
3             242319  1221.0
4             242434     1.0

In [8]:
patientIDs_IV = t_sus.patientunitstayid.unique().tolist()
patientIDs_IV_sub = pd.DataFrame(patientIDs_IV)
patientIDs_IV_sub.columns=['patientunitstayid']

Let's start the merging

In [23]:
labs_sus=pd.merge(lab_sofa,patientIDs_IV_sub,how="inner",on='patientunitstayid').drop_duplicates()
vent_sus=pd.merge(vent_sofa,patientIDs_IV_sub,how="inner",on='patientunitstayid').drop_duplicates()
gcs_sofa_sus=pd.merge(gcs_sofa,patientIDs_IV_sub,how="inner",on='patientunitstayid').drop_duplicates()
labs_vent=pd.merge(labs_sus,vent_sus,on=['patientunitstayid','offset'],how="outer").drop_duplicates()
final_sofa=pd.merge(labs_vent,gcs_sofa_sus,on=['patientunitstayid','offset'],how="outer").drop_duplicates()
final_sofa=final_sofa.fillna(0)
final_sofa['Total_SOFA']=final_sofa['SOFA_Coagulation']+final_sofa['SOFA_Liver']+final_sofa['SOFA_Respiration']+final_sofa['SOFA_Renal']+final_sofa['SOFA_cardio']+final_sofa['SOFA_GCS']
del lab_sofa
del vent_sofa
del gcs_sofa
del t_sus

In [28]:
final_sofa.groupby(['patientunitstayid']).nunique()

,patientunitstayid,offset,SOFA_Coagulation,SOFA_Liver,SOFA_Respiration,SOFA_Renal,SOFA_cardio,SOFA_GCS,Total_SOFA
patientunitstayid,,,,,,,,,
242040,1,8,1,1,1,2,1,3,4
242154,1,81,1,1,2,1,1,5,5
242290,1,20,2,1,1,2,1,4,5
242319,1,11,3,1,1,3,2,3,5
242434,1,9,1,1,1,1,1,4,4
242544,1,23,2,1,2,1,1,3,5
242851,1,14,1,1,1,2,1,3,4
243208,1,8,1,1,1,2,1,3,5
243334,1,36,1,1,1,2,2,3,3
243494,1,76,1,2,3,3,3,5,8
243629,1,14,2,1,1,2,2,4,6
243643,1,35,1,1,2,3,2,4,7
243765,1,78,1,1,3,1,1,5,5
243772,1,60,3,2,3,2,1,5,7
243838,1,5,2,1,1,2,1,3,6
243961,1,5,1,1,1,1,1,3,3
243984,1,4,1,1,1,1,1,3,3
244132,1,26,4,3,1,1,1,3,5
244216,1,15,2,1,2,2,1,5,5
244396,1,29,1,1,2,2,1,5,5
244445,1,21,2,1,1,2,3,5,5
244477,1,5,1,1,1,1,1,1,1
244573,1,7,1,2,1,1,1,3,5
244702,1,107,1,1,1,2,1,4,4
244707,1,2,1,1,1,1,1,3,3
244745,1,14,1,1,1,1,1,5,5
244763,1,70,3,1,2,1,2,5,6
245068,1,10,2,1,1,2,1,3,5
245087,1,12,1,2,1,1,2,4,5
245208,1,27,1,1,3,1,1,5,5
...,...,...,...,...,...,...,...,...,...
3351628,1,33,2,1,3,2,1,4,5
3351643,1,174,3,3,3,4,3,4,9
3351702,1,66,3,2,2,1,1,4,5
3351749,1,14,1,1,2,3,1,3,5
3351763,1,137,1,1,2,1,1,5,5
3351806,1,48,2,1,3,3,3,2,6
3351926,1,6,1,1,1,2,1,3,4
3351977,1,15,1,1,1,2,1,3,4
3352065,1,50,2,2,2,5,1,4,6
3352104,1,35,2,1,3,1,1,3,5
3352124,1,21,1,1,1,1,1,3,3
3352280,1,34,1,1,1,4,3,5,7
3352358,1,73,1,1,1,3,1,5,5
3352513,1,51,2,1,1,3,3,5,5
3352546,1,10,1,1,2,1,1,4,5
3352633,1,25,1,1,3,1,1,3,5
3352634,1,44,2,1,2,3,2,4,5
3352711,1,35,1,1,2,3,1,5,5
3352721,1,119,2,2,3,3,3,5,5
3352727,1,56,1,1,3,3,3,5,5
3352798,1,23,2,1,3,1,1,5,5
3352890,1,77,3,1,1,2,1,5,5
3352895,1,18,3,1,1,2,3,2,5
3352970,1,15,1,1,1,1,2,4,4
3352986,1,146,3,3,3,1,2,5,5
3353087,1,22,2,2,2,3,1,4,4
3353094,1,57,1,1,1,2,1,5,5
3353117,1,99,1,3,3,3,3,5,8
3353144,1,67,4,1,3,2,3,5,5
3353197,1,131,3,1,3,2,3,4,5

In [25]:
final_sofa.head()

,patientunitstayid,offset,SOFA_Coagulation,SOFA_Liver,SOFA_Respiration,SOFA_Renal,SOFA_cardio,SOFA_GCS,Total_SOFA
0,242040,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,242040,1061.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,242040,2567.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,242040,3952.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,242040,4757.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0